# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
# Use the following pattern for monorepos or nested node_modules folders
# **/node_modules/ 

# Testing
/coverage
/.nyc_output
/testem.json

# Production
/build
/dist
/npm-shrinkwrap.json

# Environment variables
.env
.env.*
# example: .env.local, .env.development.local, etc.

# Miscellaneous
.DS_Store # macOS specific file
npm-debug.log # old npm log file
yarn-error.log # yarn error log file
